/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.wrapper {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 4vw;
    color: #635c5c;
}
