/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.wrapper {
    display: flex;
    background-color: #fff;
}

.rightPanelItemWrapper[data-selected='false'] {
    display: none;
}
